/node_modules/**
.next
.gitignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
.history
.vscode
.local
.output.js

LICENSE

/dist/*
/build/*
/lib/*
/es/*

**/*.
**/*.svg
**/*.sh
**/*.cjs
**/*.yaml
